<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer</title>
</head>
<body>
{% for order in totalOrders%}
<h3>Customer : {{order.first_name}}</h3>
{% endfor %}
{% for order in orders%}
    <p>{{order.id}} - {{order.customer.first_name}} - {{order.place_at}}</p>
      <p>Order Items: {{order.orderitem_set.order_id}}</p>
    <p>------------------------</p>
{% endfor %}
</body>
</html>